.profile {
    width: 260px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }
  .description {
    margin-bottom: 20px;
  }
  .avatar {
    width: 150px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid gray;
  }
  .name {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
  }
  .tag {
    color: gray;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .location {
    color: gray;
    text-align: center;
    font-size: 14px;
  }
  .stats {
    display: flex;
    background-color: rgb(247, 244, 244);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(200, 199, 199);
  }
  .items {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
  }
  .items:not(:last-child) {
    border-right: 1px solid rgb(200, 199, 199);
  }
  .label {
    color: rgb(128, 128, 128);
    font-size: 10px;
    margin-bottom: 4px;
  }
  .quantity {
    font-weight: 600;
    font-size: 18px;
  }